<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
      {{ _todaysDate | date:'fullDate'}}
  </h1>
    {{ _assignedTaskCount }} Assigned Tasks
    {{ _reminderCount }} Reminders
    {{ _notificationCount }} Notifications
    My Workspace
</div>
<notifications (onAssignedTaskCountChange)="onAssignedTaskCountChange($event)" (onReminderCountChange)="onReminderCountChange($event)" (onGeneralNotificationCountChange)="onGeneralNotificationCountChange($event)">
	
</notifications>