<div class="container">
  <div class="row">
  	<div class="date">
      {{ _todaysDate | date:'fullDate'}}
	</div>
  </div>
  <div class="row">
    <div class="col-sm">
      	<div class="stats">
		    <p><span>{{ _assignedTaskCount }}</span> Assigned Tasks</p>
		    <p><span>{{ _reminderCount }}</span> Reminders</p>
		    <p><span>{{ _notificationCount }}</span> Notifications</p>
		</div>
    </div>
    <div class="col-sm">
      <div class="header">	
     	 <a class="toggle-link" alt="Show Notifications" *ngIf="!_showNotifications" (click)="showNotifications()">Notifications ></a>
		<a class="toggle-link" alt="Show my workspace" *ngIf="_showNotifications" (click)="hideNotifications()">My Workspace ></a>
		</div>
      <notifications [style.display] = "_showNotifications ? 'block' : 'none'" (onAssignedTaskCountChange)="onAssignedTaskCountChange($event)" (onReminderCountChange)="onReminderCountChange($event)" (onGeneralNotificationCountChange)="onGeneralNotificationCountChange($event)">
	  </notifications>
    </div>
  </div>
</div>